:root {
    --background-color: #000;
}
body {
    background-color: var(--background-color);
    height: 100%;
    margin: 0;
    overflow: hidden;
    width: 100%;
}
html {
    height: 100%;
    width: 100%;
}
.sv_controls {
    position: absolute;
    right: 0;
    top: 0;
}